@use "/src/scss/abstracts/global.scss" as *;
@use "/src/scss/abstracts/breakpoints.scss" as *;
@use "/src/scss/abstracts/tokens.scss" as *;

:host {
	display: block;
}

.pj-card {
	// ::after pseudo-element does not work on img itself
	// we need a wrapper and the ::after on it
	.pj-card__img-container {
		position: relative;
		margin-bottom: $space-xs;
		transition:all .3s ease;

		@include media("<=phone") {
			margin-bottom: $space-2xs;
		}

		::slotted(img) {
			width: 100%;
			vertical-align: bottom;
			border-radius: $border-radius-l;
		}
	}

	&:hover {
		cursor: pointer;
		.pj-card__img-container {
			opacity: 0.8;
		}

		.details__button {
			.button__text::after {
				width: 100%;
				background-color: $dark-80;
			}

			svg {
				.button__arrow-tail {
					transform: scaleX(1.25);
				}
				.button__arrow-head {
					transform: translateX(6px);
				}
			}
		}
	}

	.pj-card__details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: $space-2xs;
		margin-bottom: $space-4xs;

		@include media("<=phone") {
			gap: $space-3xs;
			.details__button {
					display: none;
			}
		}

		.pj-card__text {
			color: $dark-60;
		}
	}


}
