@use "/src/scss/abstracts/global.scss" as *;
@use "/src/scss/abstracts/tokens.scss" as *;
@use "/src/scss/abstracts/breakpoints.scss" as *;

.quote-container,
.list-container {
    justify-content: center;
    flex-flow: column;
    height: 100%;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: $light-60;
    box-shadow: $shadow-60;

    @include media("<=phone") {
        padding: 1.5rem;
    }
}

:host([type="list"]) {
    // it's a list card, show no quote content
    .quote-container,
    .quote-container * {
        display: none;
    }

    ::slotted(li) {
        list-style-position: inside;
        text-indent: -1.8rem; // alligns list item text vertically, despite the "list item dot"
        // padding-left: 2rem !important;

        @-moz-document url-prefix() {
            // on firefox text-indext is different compared to chrome.
            // padding-left: 1.5rem !important;
            text-indent: -1.4rem;
        }

        @include media("<=phone") {
            text-indent: -1.5rem; // alligns list item text vertically, despite the "list item dot"
            // padding-left: 1.6rem !important;
            @-moz-document url-prefix() {
                // on firefox text-indext is different compared to chrome.
                // padding-left: 1.2rem !important;
                text-indent: -$m-fs-l;
            }
        }
    }
}

:host([type="quote"]) {
    // it's a quote card, show no list content
    .list-container,
    .list-container * {
        display: none;
    }
}

.list-container {
    // Align emoji with text
    // https://stackoverflow.com/a/74521221/7889584

    .list-title {
        margin-bottom: $space-s;
        vertical-align: baseline;
        display: inline-flex;

        .emoji {
            align-self: center;
            margin-top: -9px;
        }
    }

    .list {
        @include media("<=phone") {
            padding-left: 1.75rem;
        }

        ::slotted(:not(:last-child)) {
            margin-bottom: 0.5rem !important;
        }
    }
}

.quote-container {
    .quote-caption {
        margin-top: 0.5rem;
    }
}
