@use "/src/scss/abstracts/global.scss" as *;
@use "/src/scss/abstracts/breakpoints.scss" as *;
@use "/src/scss/abstracts/tokens.scss" as *;

:host {
	display: block;
}

:host([group]) {
	.figure-container {
		.single {
			display: none;
		}
	}
}

:host([single]) {
	.figure-container {
		.group {
			display: none;
		}
	}
}

.figure-container {
	position: relative;
	.figure {
		text-align: center;
		display: grid;
		gap: $space-2xs;
		align-content: start;
		place-items: center;
		border-radius: $border-radius-m;
		transition: all 300ms ease-in-out;

		&:hover {
			opacity: 0.8;
			cursor: pointer;
			background-color: $dark-05;
			// background-color: mediumpurple;
		}
	}

	.group {
		display: flex;
		gap: $space-2xs;

		@include media("<=phone") {
			flex-flow: column;
			align-items: center;
			gap: $space-m;
		}
	}

	::slotted(img) {
		border-radius: $border-radius-m;
	}


	::slotted(video) {
		border-radius: $border-radius-m;
		box-shadow: $shadow-60;
		clip-path: inset(1px 1px);
	}
}