@use "/src/scss/abstracts/global.scss" as *;
@use "/src/scss/abstracts/breakpoints.scss" as *;
@use "/src/scss/abstracts/tokens.scss" as *;

:host {
	display: block;
}

.header {
	max-width: 450px;
	margin: 0 auto;
	text-align: center;

	@include media("<=phone") {
		text-align: left;
	}

	.header__subtitle{
		margin-bottom: $space-2xs;
	}
}