@use "/src/scss/abstracts/global.scss" as *;
@use "/src/scss/abstracts/breakpoints.scss" as *;
@use "/src/scss/abstracts/tokens.scss" as *;

:host {
	display: block;
}

.header {
	max-width: 450px;
	margin: 0 auto;
	.header__subtitle{
		margin: 0 auto;
		margin-bottom: $space-2xs;
		width: fit-content;

		@include media("<=phone") {
			margin-inline: 0;
		}
	}

	.header__title {
		margin: 0 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		text-align: center;

		@include media("<=phone") {
			margin-inline: 0;
		}
	}
}