@use "/src/scss/abstracts/global.scss" as *;
@use "/src/scss/abstracts/breakpoints.scss" as *;
@use "/src/scss/abstracts/tokens.scss" as *;

:host {
	display: block;
}

.section-container {
	padding-block: $space-3xl;

	@include media("<=phone") {
		padding-block: $space-xl;
		text-align: left;
	}

	::slotted(*) {
		margin-bottom: 40px !important;
		width: 100%;
	}

	::slotted(card-container) {
		margin-block: $space-xl !important;
	}

	::slotted(:last-child) {
		margin-bottom: 0px !important;
	}


	// .section__header {
	// 	margin-bottom: $space-m;
	// 	.section__header__subtitle{
	// 		margin: 0 auto;
	// 		margin-bottom: $space-2xs;
	// 		width: fit-content;

	// 		@include media("<=phone") {
	// 			margin-inline: 0;
	// 		}
	// 	}

	// 	.section__header__title {
	// 		margin: 0 auto;
	// 		margin-bottom: $space-m;
	// 		width: fit-content;

	// 		@include media("<=phone") {
	// 			margin-inline: 0;
	// 		}
	// 	}

	// 	.section__header__text {

	// 	}
	// }
}