@use "/src/scss/abstracts/global.scss" as *;
@use "/src/scss/abstracts/breakpoints.scss" as *;
@use "/src/scss/abstracts/tokens.scss" as *;

:host {
	display: block;
}

:host([dark]) {
}

.section-container {
	padding-block: $space-3xl;

	@include media("<=phone") {
		padding-block: $space-xl;
		text-align: left;
	}
}

// * {
// 	color: $color;
// }

p, .bd-text-regular, ol, ul {
	color: mediumpurple !important;
}