@use "/src/scss/abstracts/global.scss" as *;
@use "/src/scss/abstracts/breakpoints.scss" as *;
@use "/src/scss/abstracts/tokens.scss" as *;

:host {
	display: block;
}

.section-container {
	padding-block: $space-3xl;

	@include media("<=phone") {
		padding-block: $space-xl;
		text-align: left;
	}
}