@use "/src/scss/abstracts/global.scss" as *;
@use "/src/scss/abstracts/breakpoints.scss" as *;
@use "/src/scss/abstracts/tokens.scss" as *;

.pj-hero {
	background-color: $bg-firstam;
	height: 80vh;
	padding: $space-xl;
	display: flex;
	align-items: center;

	@include media("<=tablet") {
		height: 70vh;
		padding: $space-l;
	}

	@include media("<=phone") {
		height: auto;
		padding: $space-l $space-xs;
	}
.pj-hero__img {
	display: block;
		aspect-ratio: 19/15;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}
}

image-container-wc {
	&>figure-wc {
		margin-bottom: $space-m;
	}

    &>figure-wc:first-child {
		margin-top: $space-xl;
	}

    &>figure-wc:last-child {
		margin-bottom: $space-xl;
	}
}

section-wc {
	& >* {
		margin-bottom: $space-m;
	 }

	& > *:last-child {
		margin-bottom: 0px;
		& > *:last-child {
			margin-bottom: 0px;
		}
	}
}