@use "./tokens.scss" as *;
@use "./breakpoints.scss" as *;

// ..:: CSS Reset ::.. // todo consider changing this to Josh Cameau's CSS minimal reset
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: $font-family;
  }

/* 2. Remove default margin */
* {
margin: 0;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

header li {
    list-style-type: none;
}

body {
    background-color: $bg-light; // todo chek background color in Figma
    height: 100%;
    overflow-x: hidden;
}

main {
    height: inherit;
}

h1, .project-title, .footer__title, .header__title {
    font-size: $d-fs-2xl;
    font-weight: $fw-semiBold;
    line-height: $lh-m;
    letter-spacing: $ls-xs;

    @include media("<=phone") {
        font-size: $m-fs-2xl;
        line-height: $lh-s;
        letter-spacing: $ls-s;
    }
}

h2 {
    font-size: $d-fs-xl; // todo check how am I going to use h1 and h2 styles. It's confusing.
    font-weight: $fw-semiBold;
    line-height: $lh-m;
    letter-spacing: $ls-xs;

    @include media("<=phone") {
        font-size: $m-fs-xl;
        letter-spacing: $ls-s;
    }
}

h3 {
    font-size: $d-fs-l;
    font-weight: $fw-medium;
    letter-spacing: $ls-xs;
    line-height: $lh-s;

    &.bold {
        font-weight: $fw-bold;
        letter-spacing: $ls-s;
    }

    @include media("<=phone") {
        font-size: $m-fs-l;
        letter-spacing: $ls-s;
        line-height: $lh-m;

        &.bold {
            font-weight: $fw-bold;
            letter-spacing: $ls-m;
        }
    }
}

h4 {
    font-size: $d-fs-xs;
    font-weight: $fw-heavy;
    line-height: $lh-l;
    color: $dark-40;
    text-transform: uppercase;

    @include media("<=phone") {
        font-size: $m-fs-s;
    }
}

p, .bd-text-regular, ol, ul {
    font-size: $d-fs-l;
    font-weight: $fw-regular;
    line-height: $lh-2xl;
    letter-spacing: $ls-s;

    &.bold {
        font-weight: $fw-bold;
        color: $dark-100;
    }

    @include media("<=phone") {
        font-size: $m-fs-l;
        font-weight: $fw-regular;
        letter-spacing: $ls-m;
    }
}

a {
    text-decoration: none;
}

.bd-text-small {
    font-size: $d-fs-m;
    font-weight: $fw-regular;
    line-height: $lh-2xl;
    letter-spacing: $ls-s;

    @include media("<=phone") {
        font-size: $m-fs-m;
        line-height: $lh-l;
        letter-spacing: $ls-m;
    }
}

.link-text {
    font-size: $d-fs-xs;
    font-weight: $fw-semiBold;
    letter-spacing: $ls-s;
    line-height: $lh-xs;
    color: $dark-100;
    text-decoration: none;

    height: 40px;
    display: flex;
    align-items: center;
}

.tag-text {
    font-size: $d-fs-xs;
    font-weight: $fw-medium;
    line-height: $lh-xl;
    letter-spacing: $ls-s;
    color: $dark-40;
}

.caption-text {
    font-size: $d-fs-s;
    line-height: $lh-2xl;
    letter-spacing: $ls-s;
    text-align: center;
}

.quote-caption-text {
    font-size: $d-fs-s;
    font-weight: $fw-semiBold;
    line-height: $lh-2xl;
    letter-spacing: $ls-s;
}

.container-lg {
    max-width: 1440px;
    margin-inline: auto;
    width: 100%;
}

.container-sm {
    max-width: 800px;
    margin-inline:auto;
    width: 100%;
}

.center-hrz { // todo rename/refactor this class

    @include media(">phone") {
        padding-inline: 5rem !important; // todo check if important is needed, no var for this spacing
    }

    @include media("<=phone") {
        padding-inline: $space-xs;
    }
}

.dark-80 {
    color: $dark-80;
}

.dark {
    color: $dark-80;
}

.grey {
    color: $dark-40;
}

.bold {
    font-weight: $fw-bold;
}

.italic {
    font-style: italic;
}


//todo tidy up mixin, consolidate card styling
// ..:: Theme ::..
@mixin theme($main, $soft, $strong, $quote-caption) {
    h1, h2, h3, p, .bd-text-regular, ol, ul, .bd-text-small, .caption-text {
        color: $main;
    }

    header-section-wc::part(title) {
        color: $main;
    }

    header-section-wc::part(subtitle) {
        color: $soft;
    }

    .bold {
        color: $strong;
    }

    card-wc::part(text) {
        color: $main;
    }

    card-wc::part(title) {
        color: $main;
    }

    card-wc::part(caption) {
        color: $quote-caption;
    }
}

@include theme($dark-80, $dark-40, $dark-100, $dark-40);


.bg-light {
    background-color: $bg-light;
    @include theme($dark-80, $dark-40, $dark-80, $dark-40);
    card-wc {
        background-color: $light-60;
    }
}

.bg-grey {
    background-color: $bg-grey;
    @include theme($dark-80, $dark-40, $dark-80, $dark-40);
    card-wc {
        background-color: $light-60;
    }
}

.bg-dark {
    background-color: $bg-dark;
    @include theme($light-90, $light-80, $light-90, $light-40);
    card-wc {
        background-color: $light-10;
    }
}

@mixin button-animation {
    &.light {
        color: $light-90;
    }

    .button__text {
        position: relative;

        &::after {
            content: "";
            width: 0%;
            height: 2px;
            background-color: none;
            transition: all .3s cubic-bezier(.25, .46, .45, .94);
            position: absolute;
            bottom: -12px;
            left: 0;
        }
    }

    svg {
        overflow: visible;
        .button__arrow-tail {
            transform: scaleX(1);
            transition:all 300ms cubic-bezier(.22,.61,.36,1);
        }

        .button__arrow-head {
            transition:all 300ms cubic-bezier(.22,.61,.36,1);
            transform: translateX(0);
        }
    }

    &:hover {
        cursor: pointer;
        .button__text {
            &::after {
                width: 100%;
            }
        }

        svg {
            .button__arrow-tail {
                transform: scaleX(1.25);
            }
            .button__arrow-head {
                transform: translateX(6px);
            }
        }
    }
}

.button {
    display: flex;
    align-items: center;
    gap: $space-3xs;
    height: 40px;
    padding: 0;
    color: $dark-80;
    background: none;
    border: none;
    transform: translateX(0);

    @include button-animation;
}

/** ..:: Animation ::.. **/
.wave-anm {
    animation-name: wave-animation;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
    transform-origin: 70% 80%;
    animation-timing-function: ease-in-out;
    display: inline-block;
  }

  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

