@use "/src/scss/abstracts/global.scss" as *;
@use "/src/scss/abstracts/breakpoints.scss" as *;
@use "/src/scss/abstracts/tokens.scss" as *;


:host {
	display: block;
	width: 100%;
	z-index: 1;
	position: fixed;

	@include media("<=phone") {
		height: 64px;
	}

	.header-container {
		display: flex;
		justify-content: space-between;
		padding: $space-m 5rem 0 5rem; // todo spacing vars do not exist

		@include media("<=phone") {
			padding: $space-xs $space-xs 0 $space-xs;
		}

		.header-home_logo {
			display: none;
		}

		.header-home_back-link {
			display: flex;
			align-items: center;

			.header-home_back-emoji {
				height: 20px;
				margin-right: $space-3xs;
			}
		}

		.header-navigation_list {
			display: none;
		}
	}
}

:host([type="main"]) {
	.header-home_logo {
		display: block;
		.header-home_logo-svg {
			display: block;
			height: inherit;
			path {
				fill: $dark-100;
			}
		}
	}
	.header-home_back-link {
		display: none;
	}

	.header-navigation_list {
		display: flex;
		align-items: center;
		height: 40px;
		gap: $space-m;
		list-style-type: none;

		@include media("<=phone") {
			gap: $space-xs;
		}

		.header-navigation_list-item {
			position: relative;
			display: grid;
			place-content: center;
			height: 100%;

			.header-navigation_link {
				color: $dark-40;
				transition: color 200ms ease-out;
			}

			&.active {
				.header-navigation_link {
					color: $dark-100;
				}
			}

			&.active{
				position: relative;

				.header-navigation_link::after {
					content: '';
					position: absolute;
					top: auto;
					left: 0;
					right: 0;
					bottom: 0;
					height: 2px;
					background-color: $dark-100;
					border-radius: 25px;
				}
			}

			&:hover {
				cursor: pointer;
			}

			&:hover:not(.active) {
				.header-navigation_link {
					color: $dark-60;

				}
			}
		}
	}
}

/* Animation */
.goBack-anm {

	&:hover {
		.header-home_back-emoji {
			animation: 400ms goBack-animation 4 alternate both ease-in-out;
		}
	}

	@keyframes goBack-animation {
		from {
			transform: translateX(0%);
		}

		to {
			transform: translateX(-30%);
		}
	}
}