@use "./abstracts/breakpoints.scss" as *;
@use "./abstracts/tokens.scss" as *;
@use "./abstracts/global.scss" as *;


.hide {
    visibility: none;
    display: none;
}

header {
    position:sticky;
    top:0;
}

.hero {
    .hero-text {
        padding: 12rem 0 11rem 0;
        position: relative;


        @include media("<=phone") {
            padding: 4.5rem 0 9rem 0;
        }

        &::after {
            content: url(../assets/purple-tag.svg);
            position: absolute;
            bottom: 20%;
            left: 102%;
            z-index: 1;

            @include media("<=tablet") {
                display: none;
            }
        }

        // Use background image on a fluid container whithout margins, its safer.
        // &::before {
        //     content: url(../assets/particles-background.png);
        //     position: absolute;
        //     top: 15%;
        //     left: 90%;
        //     height: 100%;
        //     // width: 80px;
        //     z-index: -1;

        //     @include media("<=tablet") {
        //         height: 100%;
        //         bottom: -40%;
        //         left: 70%;
        //     }

        //     @include media("<=phone") {
        //         bottom: -10%;
        //         left: 70%;
        //         content: none;
        //     }
        // }
    }
}





/** ..:: Animation ::.. **/
.wave-anm {
    animation-name: wave-animation;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
    transform-origin: 70% 80%;
    animation-timing-function: ease-in-out;
    display: inline-block;
  }

  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }