@use "./abstracts/breakpoints.scss" as *;
@use "./abstracts/tokens.scss" as *;
@use "./abstracts/global.scss" as *;

.hero-text {
    position: relative;
    .under-construction {
        display: block;
        position: absolute;
        width: 400px;
        height: auto;
        top: 35%;
        left: 25%;
        z-index: -1;
        margin: 0 auto;
        opacity: 0.2;
    }
}

.hide {
    visibility: none;
    display: none;
}

.hero {
    .hero-text {
        padding: 17rem 0 11rem 0; //todo spacing vars do not exist
        position: relative;


        @include media("<=phone") {
            padding: $space-3xl 0 $space-3xl 0;
        }
    }
}

.projects-section {

    .projects-section__title {
        margin-bottom: $space-m;

        @include media('<=phone') {
            margin-bottom: $space-s;
        }
    }
    project-card-wc {
        margin-bottom: $space-xl;
        // &:last-child {
        //     margin-bottom: $space-xl;
        // }

        @include media('<=phone') {
            margin-bottom: $space-m;
            // &:last-child {
            //     margin-bottom: $space-m;
            // }
        }
    }
}

.more-projects-section {
    margin-bottom: $space-3xl;
    @include media("<=phone") {
        margin-bottom: $space-2xl;
    }
    .more-projects-section__title {
        margin-bottom: $space-m;

        @include media("<=phone") {
            margin-bottom: $space-s;
        }
    }
    .more-projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: $space-xs;


        @include media("<=phone") {
            grid-template-columns: 1fr;
            row-gap: $space-m;
        }

    }
}