@use "./abstracts/breakpoints.scss" as *;
@use "./abstracts/tokens.scss" as *;
@use "./abstracts/global.scss" as *;


.hide {
    visibility: none;
    display: none;
}

header {
    position:sticky;
    top:0;
    z-index: 1;
}

.hero {
    .hero-text {
        padding: 12rem 0 11rem 0;
        position: relative;


        @include media("<=phone") {
            padding: 4.5rem 0 9rem 0;
        }

        &::after {
            content: url(../assets/purple-tag.svg);
            position: absolute;
            bottom: 20%;
            left: 102%;

            @include media("<=tablet") {
                display: none;
            }
        }

        // CSS for dots svg on hero background
        // Use background image on a fluid container whithout margins, its safer.
        // &::before {
        //     content: url(../assets/particles-background.png);
        //     position: absolute;
        //     top: 15%;
        //     left: 90%;
        //     height: 100%;
        //     // width: 80px;
        //     z-index: -1;

        //     @include media("<=tablet") {
        //         height: 100%;
        //         bottom: -40%;
        //         left: 70%;
        //     }

        //     @include media("<=phone") {
        //         bottom: -10%;
        //         left: 70%;
        //         content: none;
        //     }
        // }
    }
}

.projects-section {

    .projects-section__title {
        margin-bottom: $space-m;

        @include media('<=phone') {
            margin-bottom: $space-s;
        }
    }
    project-card-wc {
        margin-bottom: $space-xl;
        &:last-child {
            margin-bottom: $space-3xl;
        }

        @include media('<=phone') {
            margin-bottom: $space-s;
            &:last-child {
                margin-bottom: $space-2xl;
            }
        }
    }
}